.admin_forget{
    text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 380px;
      padding: 30px;
      height: 390px;
      background-color: white;
      opacity: 0.6;
    }
    
  .admin_forget:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    h1{
      color: black;
      font-weight: bolder;
    }
    hr{
      height:2px;
      border-width:0;
      color:gray;
      background-color:gray
    }
    button{
      padding: 8px 69px 8px 69px;
      border: 2px solid black;
    }
    button:hover{
      cursor: pointer;
      background-color: rgb(252, 231, 201);
    }
    .admin_forget_form{
      position: absolute;
  top:0px ;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
      background-image: url("https://static.toiimg.com/photo/85003566/85003566.jpg?v=3");
     background-size: cover;
      width: 100% ;
      height: 100vh;
    }
  
  
  
    